@import "../../pfe-sass/pfe-sass";

:host {
  height: 100%;
}
  
::slotted(*) {
  margin: 0;
  padding: 0;
  height: 100%;
}

::slotted(ul) {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

::slotted(ul[hidden]) {
  display: none;
}