// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";


$LOCAL: alert;

// Example local variable, using BEM format
// --pfe-alert__region--Property: value;

// This variable is global so that helper functions can reference it
$LOCAL-VARIABLES: (
  // cyan-50
  BackgroundColor: #F2F9F9,
  // cyan-300
  BorderColor: #009596,
  // --pf-global--spacer--md
  Padding: 16px,
  header: (
    // --pf-global--spacer--xs
    MarginBottom: var(--pfe-alert--Gap, 4px),
    MarginLeft: var(--pfe-alert--Gap, 4px),
  ),
  title: (
    Color: #003737,
    FontSize: 14px,
    FontWeight: 500,
  ),
  icon: (
    // cyan-300
    Color: #009596,
    Width: var(--pfe-alert__icon--Size, 24px),
    Height: var(--pfe-alert__icon--Size, 24px),
  ),
  description: (
    // probably switch this out for css grid
    MarginLeft: calc(var(--pfe-alert--Gap, 4px) + var(--pfe-alert__icon--Size, 24px)),
  ),
  close-button: (
    // Black-600
    Color: #6A6E73,
    BackgroundColor: transparent,
    Border: none,
    Height: var(--pfe-alert__close-button--Size, 24px),
    Width: var(--pfe-alert__close-button--Size, 24px),
  ),
  action-group: (
    MarginTop: var(--pfe-alert--Padding, 16px),
    MarginLeft: calc(var(--pfe-alert--Gap, 4px) + var(--pfe-alert__icon--Size, 24px)),
    // We need to offset the margin-right of the items below it.
    MarginRight: calc(var(--pfe-alert__action-group--Gap, 24px) * -1),
    // --pf-global--spacer--lg
    Gap: 24px,
  ),
  action-group-item: (
    MarginRight: var(--pfe-alert__action-group--Gap, 24px),
    Padding: 0,
    border: none,
    BackgroundColor: transparent,
    Color: #0066CC,
    FontSize: 14px,
  ),
);

:host {
  // Avoid printing local variables on host, instead use the pfe-local() function to set property values
  // Example: color: pfe-local(Color);
  display: block;
}

:host([hidden]) {
  display: none;
}

.pfe-alert {
  border-top: 3px solid transparent;
  border-color: pfe-local(BorderColor);
  background-color: pfe-local(BackgroundColor);
  // --pf-global--spacer--md
  padding: pfe-local(Padding);

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: pfe-local(MarginBottom, $region: header);
    margin-left: pfe-local(MarginLeft, $region: header);
  }

  &__title {
    font-size: pfe-local(FontSize, $region: title);
    color: pfe-local(Color, $region: title);
    font-size: pfe-local(FontSize, $region: title);
    font-weight: pfe-local(FontWeight, $region: title);
    flex: 1 1 auto;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pfe-local(Width, $region: icon);
    height: pfe-local(Height, $region: icon);
    color: pfe-local(Color, $region: icon);
  }

  &__close-button {
    color: pfe-local(Color, $region: close-button);
    background-color: pfe-local(BackgroundColor, $region: close-button);
    border: pfe-local(Border, $region: close-button);
    width: pfe-local(Width, $region: close-button);
    height: pfe-local(Height, $region: close-button);
  }

  &__description {
    margin-left: pfe-local(MarginLeft, $region: description);
  }

  &__action-group {
    margin-top: pfe-local(MarginTop, $region: action-group);
    margin-left: pfe-local(MarginLeft, $region: action-group);
    margin-right: pfe-local(MarginRight, $region: action-group);
  }

  &__action-group-item,
  #action-group::slotted(.pfe-alert__action-group-item) {
    margin-right: pfe-local(MarginRight, $region: action-group-item);
    padding: pfe-local(Padding, $region: action-group-item);
    border: pfe-local(Border, $region: action-group-item);
    background-color: pfe-local(BackgroundColor, $region: action-group-item);
    color: pfe-local(Color, $region: action-group-item);
    font-size: pfe-local(FontSize, $region: action-group-item);
  }
  // Turn a button into a regular looking link
  // I'm using important because pfe-base takes
  // precedence.
  button#{&__action-group-item},
  #action-group::slotted(button#{&__action-group-item}) {
    margin-right: pfe-local(MarginRight, $region: action-group-item) !important;
  }
}

:host([state="info"]) .pfe-alert {
  // blue-300
  --pfe-alert--BorderColor: #2B9AF3;
  --pfe-alert__icon--Color: #2B9AF3;
  // blue-600
  --pfe-alert__title--Color: #002952;
  // blue-50
  --pfe-alert--BackgroundColor: #E7F1FA;
}

:host([state="success"]) .pfe-alert {
  // green-500
  --pfe-alert--BorderColor: #3E8635;
  --pfe-alert__icon--Color: #3E8635;
  // green-600
  --pfe-alert__title--Color: #1E4F18;
  // green-50
  --pfe-alert--BackgroundColor: #F3FAF2;
}

:host([state="warning"]) .pfe-alert {
  // gold-600
  --pfe-alert__title--Color: #795600;
  // gold-400
  --pfe-alert--BorderColor: #F0AB00;
  --pfe-alert__icon--Color: #F0AB00;
  // gold-50
  --pfe-alert--BackgroundColor: #FDF7E7;
}

:host([state="danger"]) .pfe-alert {
  // red-100
  --pfe-alert--BorderColor: #C9190B;
  --pfe-alert__icon--Color: #C9190B;
  // red-300
  --pfe-alert__title--Color: #7D1007;
  // gold-50
  --pfe-alert--BackgroundColor: #FAEAE8;
}