// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";


$LOCAL: progress-stepper;

// Example local variable, using BEM format
// --pfe-progress-stepper__region--Property: value;

// This variable is global so that helper functions can reference it
$LOCAL-VARIABLES: (
  item: (
    Width: 50px
  ),
  progress-bar: (
    Color: #D2D2D2,
    Fill: #06c,
  ),
);

:host {
  // Avoid printing local variables on host, instead use the pfe-local() function to set property values
  // Example: color: pfe-local(Color);
  display: block;
  // We have to set the size of the circle size here so our vertical progress bar knows how much
  // offset to do.
  --pfe-progress-stepper-item__circle--Size: var(--pfe-progress-stepper__circle--Size, 32px);
}

:host([hidden]) {
  display: none;
}

.pfe-progress-stepper {
  display: flex;
  width: auto;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;

  &__progress-bar {
    top: 15px;
    display: flex;
    position: absolute;
    height: 2px;
    width: calc(100% - var(--pfe-progress-stepper__item--Width, 50px));
    background-color: pfe-local(Color, $region: progress-bar);
    left: 50%;
    transform: translateX(-50%);
  }
  &__progress-bar-fill {
    display: block;
    height: 2px;
    background: pfe-local(Fill, $region: progress-bar);
    width: 0;
  }
}

:host(:not([vertical])) {
  // Set the widths on each item the same so that the progress bar
  // works correctly.
  // @todo: is there a helper function to print the local variable here?
  // I.e. I should be printing 50px.
  --pfe-progress-stepper-item--Width: var(--pfe-progress-stepper__item--Width, 50px);
}

:host([vertical]) {
  & .pfe-progress-stepper {
    // Make everything vertical
    flex-direction: column;

    &__progress-bar {
      // Position the progress bar correctly over the circle
      top: calc(var(--pfe-progress-stepper-item__circle--Size) / 2);
      left: calc(var(--pfe-progress-stepper-item__circle--Size) / 2);
      width: var(--pfe-progress-stepper__progress-bar--Width, 2px);
      height: calc(100% - (var(--pfe-progress-stepper-item__circle--Size)));
    }
    &__progress-bar-fill {
      width: var(--pfe-progress-stepper__progress-bar--Width, 2px);
      height: 0;
    }
  }
}