$pfe-colors: (

  // ========================================================================
  // Base Text Colors
  // ========================================================================

  text:                               $pfe-color--text,
  text--on-dark:                      $pfe-color--text--on-dark,
  text--on-saturated:                 $pfe-color--text--on-saturated,


  // ========================================================================
  // Base UI Link Colors to be used below
  // ========================================================================

  ui-link:                            $pfe-color--ui-link,
  ui-link--visited:                   $pfe-color--ui-link--visited,
  ui-link--hover:                     $pfe-color--ui-link--hover,
  ui-link--focus:                     $pfe-color--ui-link--focus,

  ui-link--on-dark:                   lighten($pfe-color--ui-link, 40%),          // Was #97daff
  ui-link--on-dark--visited:          lighten($pfe-color--ui-link--visited, 30%), // Was #d8c0ff
  ui-link--on-dark--hover:            lighten($pfe-color--ui-link--on-dark, 10%), // Was #c0ecff
  ui-link--on-dark--focus:            lighten($pfe-color--ui-link--on-dark, 10%), // Was #c0ecff

  ui-link--on-saturated:              lighten($pfe-color--ui-link, 40%),               // Was #97daff
  ui-link--on-saturated--visited:     lighten($pfe-color--ui-link--visited, 30%),      // Was #d8c0ff
  ui-link--on-saturated--hover:       lighten($pfe-color--ui-link--on-saturated, 10%), // Was #c0ecff
  ui-link--on-saturated--focus:       lighten($pfe-color--ui-link--on-saturated, 10%), // Was #c0ecff


  // ========================================================================
  // Base UI Colors for Buttons, CTAs, and actionable UI elements
  // ========================================================================

  ui-base:                            $pfelements--blue,
  ui-base--hover:                     darken($pfelements--blue, 20%),
  ui-base--text:                      $pfe-color--text--on-dark,
  ui-base--text--hover:               $pfe-color--text--on-dark,
  ////////////////////////////

  ui-complement:                      $pfe-color--gray-800,
  ui-complement--hover:               $pfe-color--gray-1000,
  ui-complement--text:                $pfe-color--text--on-dark,
  ui-complement--text--hover:         $pfe-color--text--on-dark,

  ui-accent:                          $pfelements--orange,
  ui-accent--hover:                   darken($pfelements--orange, 20%),
  ui-accent--text:                    $pfe-color--text--on-dark,
  ui-accent--text--hover:             $pfe-color--text--on-dark,

  ui-disabled:                        $pfelements--gray-light,
  ui-disabled--hover:                 $pfelements--gray-light,
  ui-disabled--text:                  $pfelements--gray,
  ui-disabled--text--hover:           $pfelements--gray,


  // ========================================================================
  // Base Surface Colors for Container elements
  // ========================================================================

  // Lightest group
  surface--lightest:                  $pfe-color--white,
  surface--lightest--text:            $pfe-color--text,
  surface--lightest--link:            $pfe-color--ui-link,
  surface--lightest--link--visited:   $pfe-color--ui-link--visited,
  surface--lightest--link--hover:     $pfe-color--ui-link--hover,
  surface--lightest--link--focus:     $pfe-color--ui-link--focus,

  // Lighter group
  surface--lighter:                   $pfe-color--gray-100,
  surface--lighter--text:             $pfe-color--text,
  surface--lighter--link:             $pfe-color--ui-link,
  surface--lighter--link--visited:    $pfe-color--ui-link--visited,
  surface--lighter--link--hover:      $pfe-color--ui-link--hover,
  surface--lighter--link--focus:      $pfe-color--ui-link--focus,

  // Base group
  surface--base:                      $pfe-color--gray-200,
  surface--base--text:                $pfe-color--text,
  surface--base--link:                #00538c, // Contrast with $pfe-color--ui-link doesn't meet WCAG2 AA
  surface--base--link--visited:       #7551a6,
  surface--base--link--hover:         #00305b,
  surface--base--link--focus:         #00305b,

  // Darker group
  surface--darker:                    $pfe-color--gray-800,
  surface--darker--text:              $pfe-color--text--on-dark,
  surface--darker--link:              $pfe-color--ui-link--on-dark,
  surface--darker--link--visited:     $pfe-color--ui-link--on-dark--visited,
  surface--darker--link--hover:       $pfe-color--ui-link--on-dark--hover,
  surface--darker--link--focus:       $pfe-color--ui-link--on-dark--focus,

  // Darkest group
  surface--darkest:                   $pfe-color--gray-1000,
  surface--darkest--text:             $pfe-color--text--on-dark,
  surface--darkest--link:             $pfe-color--ui-link--on-dark,
  surface--darkest--link--visited:    $pfe-color--ui-link--on-dark--visited,
  surface--darkest--link--hover:      $pfe-color--ui-link--on-dark--hover,
  surface--darkest--link--focus:      $pfe-color--ui-link--on-dark--focus,

  // Complement group
  surface--complement:                $pfelements--blue,
  surface--complement--text:          $pfe-color--text--on-dark,
  surface--complement--link:          $pfe-color--ui-link--on-dark,
  surface--complement--link--visited: $pfe-color--ui-link--on-dark--visited,
  surface--complement--link--hover:   $pfe-color--ui-link--on-dark--hover,
  surface--complement--link--focus:   $pfe-color--ui-link--on-dark--focus,


  // Accent group
  surface--accent:                    $pfelements--orange,
  surface--accent--text:              $pfe-color--text--on-dark,
  surface--accent--link:              $pfe-color--ui-link--on-dark,
  surface--accent--link--visited:     $pfe-color--ui-link--on-dark--visited,
  surface--accent--link--hover:       $pfe-color--ui-link--on-dark--hover,
  surface--accent--link--focus:       $pfe-color--ui-link--on-dark--focus,


  /* Palette of Border Colors */
  surface--border:                    $pfe-color--gray-200,  // Was #ccc
  surface--border--lighter:           $pfe-color--gray-100,  // Was #e7e7e7
  surface--border--lightest:          $pfe-color--gray-100,
  surface--border--darkest:           $pfe-color--gray-800,
  surface--border--darker:            $pfe-color--gray-300,


  // ========================================================================
  // Base Feedback Colors for messaging, errors, etc.
  // ========================================================================

  /* Palette of Feedback Colors */
  feedback--critical:                 $pfe-color--red-600,
  feedback--critical--lightest:       $pfe-color--red-50,
  feedback--critical--darkest:        $pfe-color--red-800,

  feedback--important:                $pfe-color--orange-500,
  feedback--important--lightest:      $pfe-color--orange-50,
  feedback--important--darkest:       $pfe-color--orange-700,

  feedback--moderate:                 $pfe-color--yellow-400,
  feedback--moderate--lightest:       $pfe-color--yellow-50,
  feedback--moderate--darkest:        $pfe-color--yellow-700,

  feedback--success:                  #2e7d32,
  feedback--success--lightest:        $pfe-color--green-50,
  feedback--success--darkest:         #1b5e20,

  feedback--info:                     #0277bd,
  feedback--info--lightest:           $pfe-color--blue-50,
  feedback--info--darkest:            #01579b,

  feedback--default:                  $pfe-color--gray-700,
  feedback--default--lightest:        $pfe-color--gray-100,
  feedback--default--darkest:         $pfe-color--gray-800,

);


$pfe-vars: (
  container-spacer:              pfe-size-prem(16px),
  container-padding:             pfe-size-prem(16px),
  content-spacer:                pfe-size-prem(16px),

  font-size:                     16px,
  line-height:                   1.5,

  font-family:                   '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
  font-family--heading:          '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
  font-family--code:             '"Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace',

  font-size--heading--alpha:     32px,
  font-size--heading--beta:      24px,
  font-size--heading--gamma:     21px,
  font-size--heading--delta:     18px,
  font-size--heading--epsilon:   16px,
  font-size--heading--zeta:      14px,

  font-weight--light:            300,
  font-weight--normal:           500,
  font-weight--semi-bold:        600,
  font-weight--bold:             700,

  link--text-decoration:         underline,
  link--text-decoration--hover:  underline,

  surface--border-width:         1px,
  surface--border-width--heavy:  3px,
  surface--border-style:         solid,
  surface--border-radius:        0,
  ui--border-width:              1px,
  ui--border-style:              solid,
  ui--border-radius:             2px,

  ui--focus-outline-width:       1px,
  ui--focus-outline-style:       solid,

  grid-breakpoint--xs:           0,
  grid-breakpoint--sm:           576px,
  grid-breakpoint--md:           768px,
  grid-breakpoint--lg:           992px,
  grid-breakpoint--xl:           1200px,

  box-shadow--sm:                '0  #{pfe-size-prem(1)}  #{pfe-size-prem(2)} 0 rgba(#{$pfe-color--gray-1000}, .2)',
  box-shadow--md:                '0  #{pfe-size-prem(2)}  #{pfe-size-prem(1)} #{pfe-size-prem(1)} rgba(#{$pfe-color--gray-1000}, .12), 0  #{pfe-size-prem(4)}  #{pfe-size-prem(11)} #{pfe-size-prem(6)} rgba(#{$pfe-color--gray-1000}, .05)',
  box-shadow--lg:                '0  #{pfe-size-prem(3)}  #{pfe-size-prem(7)} #{pfe-size-prem(3)} rgba(#{$pfe-color--gray-1000}, .13), 0  #{pfe-size-prem(11)}  #{pfe-size-prem(24)} #{pfe-size-prem(16)} rgba(#{$pfe-color--gray-1000}, .12)',
  box-shadow--inset:             'inset 0 0 #{pfe-size-prem(10)} 0 rgba(#{$pfe-color--gray-1000}, .25)',

  animation-timing:              cubic-bezier(0.465, 0.183, 0.153, 0.946),
);
